.App {
  text-align: center;
  height: 100%;
}

.App-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  height: 80px;
}

.App-header {
  height: 100%;
  padding: 20px;
  color: grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-slogan {
  font-size: 20px;
  text-transform: lowercase;
  margin: 20px 0 0;
  letter-spacing: 1px;
}

.App-contacts {
  font-size: 16px;
  text-transform: lowercase;
  margin: 20px 0 0;
  letter-spacing: 1px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
